# Microsoft Office temp/lock files
~$*

# Common backup files
*.tmp
*.bak
*.swp

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
env/
venv/

# IDEs and editors
.idea/
.vscode/
*.swp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MacOS files
.DS_Store

# WandB logs
wandb/

# Output directories
output/
*.log
*.csv

# Model checkpoints and weights
*.pt
*.pth
*.ckpt
*.onnx

# YAML copies used during runs
**/used_config.yaml

# Crash logs
**/crash_log.txt

# __pycache__ in nested folders
**/__pycache__/

# Ignore all generated checkpoints and model folders
**/checkpoint_*/
**/best_model/

